@model AjaxChat.Models.ChatModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div id="Username">
</div>
<div id="LastRefresh">
</div>
<div id="container">
    <div id="loginBlock">
        Введите имя :
        <input type="text" id="txtUserName" />
        <button id="btnLogin" value="Войти">Войти</button>
    </div>
</div>
<div id="Error">
</div>
@Ajax.ActionLink("Login", "Index", new { user = "" },
        new AjaxOptions { UpdateTargetId = "container", OnFailure = "LoginOnFailure", OnSuccess = "LoginOnSuccess" },
        new { @id = "LoginButton", @style = "visibility:hidden;" })

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/chat.js"></script>
